* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: inherit;
}

.flex { display: flex; }
.gap-1 { gap: 1rem; }
.gap-2 { gap: 2rem; }
.flex-1 { flex: 1; }
.i-center { align-items: center; }
.j-center { justify-content: center; }
.rel { position: relative; }
.abs { position: absolute; }

body {
  transition: all .25s;
}
body.light-theme {
  --bg: #fff;
  --grey: #757575;
  --white: #fff;
  --primary: #a445ed;
  --high-contrast: #1F1F1F;
  --mid-contrast: #3A3A3A; 
  --low-contrast: #E9E9E9;
  /* --mid-contrast:  */
  background-color: var(--bg);
  color: var(--high-contrast);
}
body.dark-theme {
  --white: #fff;
  --primary: #a445ed;
  --grey: #757575;
  --bg: #050505;
  background-color: var(--bg);
  /* --mid-contrast:  */
}

#app {
  max-width: 1000px;
  padding: 3rem 1.5rem;
  margin: 0 auto;
}

header .logo { 
  margin-right: auto;
}
header .font-selector {
  font-size: 1.25rem;
  font-weight: 600;
  border-right: 1px solid var(--low-contrast);
  padding-right: 1rem;
}
header .font-selector > span {
  padding-right: 10px;
}
header .theme-toggle .toggle-button {
  border-radius: 30px;
  height: 25px;
  width: 50px;
  align-items: center;
  transition: all .25s;
  cursor: pointer;
  display: flex;
  align-items: center;
}
header .theme-toggle .light-theme {
  background-color: var(--grey);
}
header .theme-toggle .dark-theme {
  background-color: var(--primary);
}
header .theme-toggle .toggle-button > .slider {
  margin: 0 8px;
  height: 19px;
  width: 19px;
  border-radius: 50%;
  transition: all .25s;
  cursor: pointer;
  background-color: var(--white);
}
header .theme-toggle .light-theme .slider {
  transform: translateX(-4px);
}
header .theme-toggle .dark-theme .slider {
  transform: translateX(19px);
}
header .theme-toggle svg {
  display: block;
}

@media (max-width: 1024px) {
  #app {width: 100%;}
}
