* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: inherit;
  word-break: break-word;
}

button {border: none; background-color: transparent; outline: none; border: none; cursor: pointer;}
li::marker { color: var(--primary);}

.pre-line {white-space: pre-line;}
.flex { display: flex; }
.gap-1 { gap: 1rem; }
.gap-2 { gap: 2rem; }
.flex-1 { flex: 1; }
.i-center { align-items: center; }
.j-center { justify-content: center; }
.rel { position: relative; }
.abs { position: absolute; }
.none {display: none;}
.block {display: block;}
.text-center {text-align: center;}

body {
  transition: all .25s;
}
.mono {
  font-family: 'Roboto Mono', monospace;
}
.sans-serif {
  font-family: sans-serif;
}
.serif {
  font-family: serif;
}
body.light-theme {
  --bg: #fff;
  --grey: #757575;
  --white: #fff;
  --primary: #a445ed;
  --high-contrast: #1F1F1F;
  --mid-contrast: #292929; 
  --low-contrast: #E9E9E9;
  --lowest-contrast: #f3f3f3;
  --high-contrast-low-opacity: #1f1f1f16;
  background-color: var(--bg);
  color: var(--high-contrast);
}
body.dark-theme {
  --white: #fff;
  --primary: #a445ed;
  --grey: #636363;
  --bg: #050505;
  --high-contrast: #eee;
  --mid-contrast: #ccc; 
  --low-contrast: #2a2a2a;
  --lowest-contrast: #2a2a2a;
  --high-contrast-low-opacity: #a445ed5b;
  background-color: var(--bg);
}

#app {
  
  max-width: 750px;
  padding: 3rem 1.5rem;
  margin: 0 auto;
}

.primary { color: var(--primary); }

header .logo { 
  margin-right: auto;
}
header .font-selector {
  color: var(--mid-contrast);
  font-size: 1.25rem;
  font-weight: 600;
  border-right: 1px solid var(--low-contrast);
  padding-right: 1rem;
  cursor: pointer;
}
header .font-select {
  font-size: 1.1rem;
  flex-direction: column;
  gap: 10px;
  transform: translate(-50px, 10px);
  background: var(--bg);
  padding: 1.25rem;
  z-index: 2;
  width: 150px;

  box-shadow: 0px 0px 5px 5px var(--high-contrast-low-opacity);
  border-radius: 5px;
}
header .font-selector > span {
  padding-right: 10px;
}

header .theme-toggle .toggle-button {
  border-radius: 30px;
  height: 25px;
  width: 50px;
  align-items: center;
  transition: all .25s;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.light-theme .theme-toggle .toggle-button {
  background-color: var(--grey);
}
.dark-theme .theme-toggle .toggle-button {
  background-color: var(--primary);
}
header .theme-toggle .toggle-button > .slider {
  margin: 0 8px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  transition: all .25s;
  cursor: pointer;
  background-color: var(--white);
}
.light-theme .theme-toggle .slider {
  transform: translateX(-4px);
}
.dark-theme .theme-toggle .slider {
  transform: translateX(19px);
}
header .theme-toggle svg {
  display: block;
}

main .input-section {
  margin-top: 2rem;
}
main form input {
  background-color: var(--lowest-contrast);
  color: var(--high-contrast);
  border: none;
  border-radius: 15px;
  font-size: 1.1rem;
  width: 100%;
  height: 50px;
  padding-left: 20px;
  padding-right: 50px;
}
main form input:focus-visible {
  
  outline-color: var(--primary);
}
main form .abs {
  right: 20px;
  top: 50%;
  transform: translateY(-43%);
}

main .search-word-head {
  margin-top: 2rem;
  justify-content: space-between;
}
main .search-word-head h2 {
  color: var(--high-contrast);
  font-size: 3rem;
  word-break: break-all;
  margin-bottom: 7px;
}
main .search-word-head .pronunciation {
  font-size: 1.25rem;
}
main .search-word-head .audio {
  cursor: pointer;
}
main .search-word-head .audio svg {
  width: 60px;
  height: 60px;
}

main .meaning {
  margin-top: 2rem;
}
main .meaning .part-of-speech {
  font-style: italic;
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--high-contrast); 
}
main .meaning .part-of-speech::before {
  position: absolute;
  content: '';
  background-color: var(--low-contrast);
  left: 9rem;
  right: 0;
  top: 50%;
  transform: translateY(100%);
  height: 2px;
}
main .meaning .decorator {
  color: var(--grey);
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.1rem;
}
main .meaning .definfitions {
  color: var(--mid-contrast);

  font-size: 1.25rem;
}
main .meaning .definfitions > li {
  color: var(--mid-contrast);
  font-weight: 600;
  margin-bottom: 1rem;
  margin-left: 1.2rem;
}
main .sources {
  display: block;
  margin-top: 2rem;
  color: var(--grey);
}
main .sources svg {
  transform: translate(5px, 1px);
}
main .error-wrapper {
  color: var(--high-contrast);
  font-size: 1.35rem;
  margin-top: 4rem;
}
main .error-wrapper .icon {
  font-size: 5rem;
}
main .error-wrapper h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

@media (max-width: 275px) {
  #app {padding: 3rem 10px;}
}
